<h2>Basic</h2>

<ul>
<li><a href="<%= url_root %>/test">Test page</a></li>
<li><a href="<%= url_root %>/lskdjfklsjdf">Non-existent page</a></li>
</ul>

<h2>POST</h2>
<p>
<form method="post" action="<%= url_root %>/name/submit">
  Your name:
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
</p>

<h2>Route params</h2>
<p>
Your name:
<input type="text" id="name-p">
<input type="button" value="Submit" onclick="location.href='<%= url_root %>/name/' + document.getElementById('name-p').value">
<noscript>(need js enabled)</noscript>
</p>

<h2>Multiple route params</h2>
<p>
First name:
<input type="text" id="name-f">
Last name:
<input type="text" id="name-l">
<input type="button" value="Submit" onclick="location.href='<%= url_root %>/name/' + document.getElementById('name-f').value + '/' + document.getElementById('name-l').value">
<noscript>(need js enabled)</noscript>
</p>

<h2>Other</h2>
<p>You're running this on <em><%= defined?(Frucnatra) ? "Frucnatra" : (defined?(Sinatra) ? "Sinatra" : "unknown") %></em>